<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mk.workdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AnimActivity">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.BaseAcitivity" />
        <activity android:name=".Activities.TitleActivity" />
        <activity android:name=".Activities.SecondAcitivity" />
        <activity android:name=".TESTActivities.DialogTestActivity" />
        <activity android:name=".ImageCompress.ImageCompressActivity"></activity>
    </application>

</manifest>